<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <width>700</width>
    <height>700</height>
    <bodiesNum>400</bodiesNum>
    <bodyMass>1e10</bodyMass>
    <deltaTime>20</deltaTime>
    <durationSeconds>60</durationSeconds>
    <errorDistance>1e2</errorDistance>
    <threadsNum>1</threadsNum>
</settings>
